html, body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    background-color: #dbdbdb;
    color: #292929;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

header {
    background: #0b2856;
    color: #dbdbdb;
    padding: 10rem;
    text-align: left;
}
header nav {
    margin-top: 1px
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin: 15px 15px;
}
header nav ul li a {
    color: #dbdbdb;
    text-decoration: none;
    font-family: Lato, sans-serif;
}
header nav ul li a:hover {
    text-transform: uppercase;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 0 20px;
    background: #dbdbdb;
}

h1, h2 {
    color: #0b2856;
    text-align: center;
}

button {
    font-size: 15px;
    background-color: #0b2856;
    color: #dbdbdb;
    border-width: 2px;
    border-radius: 5%;
}

footer {

    text-align: right;
    padding: 10px;
    background: #0b2856;
    color: #dbdbdb;
}

.intro-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1px;
}

.nomehome {
    text-align: left;
    color: #dbdbdb;
    margin: 0 20px 0 0;
    font-size: 2.5em;
}

.foto-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
}

.projeto-item {
    border: 1px solid #0b2856;
    padding: 50px;
    margin-bottom: 15px;
    border-radius: 1%;
}
.projeto-item h3 {
    color: rgb(46, 46, 46);
    margin-top: 0;
}

.subheader {
    padding: 10px;
}
.subnav ul li {
    display: inline-block
}

.toast {
    visibility: hidden;
    background-color: #dbdbdb;
    color: #0b2856;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    right: 90px;
    bottom: 50px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}